
<div id="habit_details_for_patient_div" style="height:10vh;border:1px solid green;width:90%;">

  <div class="ailment_mid_divs" id="habit_details_div" style="height:7vh;overflow-y:auto;border:0px solid red;width:100%">
    <div id="habit_header" style="height:4vh;width:100%;">

      <div style="margin-left:14px;margin-top:5px;float:left;width:30%;border-right:0px solid green;border-bottom:1px dotted green;height:3vh;">
        Any Other Medical/Surgerical Problem :
      </div>

      <div style="margin-left:22px;margin-top:5px;float:left;width:61%;border-right:0px solid green;border-bottom:1px dotted green;height:3vh;">
        <input style="display:none;" type="text" size="30" id="input_history_other_medical_problem" name="other_history[other_medical_problem]"/>
        <span id="span_history_other_medical_problem"> - </span>
      </div>

    </div>

  </div>

</div>
