<div align="center" id="patient_history_comorbid_conditions" class="fieldset ninety_percent_width" style="height:47vh;">
  <h1><span>Co-Morbid Conditions</span></h1>
  <%= render "patient_history_comorbid_conditions_template" %>
</div>
<div align="center" id="patient_history_habits" class="fieldset ninety_percent_width" style="height:45vh;">
  <h1><span>Habits</span></h1>
  <%= render "patient_history_habits_template" %>
</div>
<div align="center" id="patient_history_others" class="fieldset ninety_percent_width" style="height:12vh;">
  <h1><span>Others</span></h1>
  <%= render "patient_history_others_template" %>
</div>
