
<div id="login_home_page" align="center" style="margin-top: 10px;">

  <div id="left_panel" style="margin-left: 10px;float: left;width: 30%">
    <img src="/assets/sssmh_photo_1.jpg" style="width:99%;">
  </div>

  <div id="right_panel" style="margin-left: 4%;float: left;width: 60%">

    <div align="left" style="width: 100%;font-size: 13.5px;font-family: 'Open Sans',sans-serif;text-align: justify;color: #524848;word-spacing: 5px;line-height: 20px;">

      Welcome to Connected Health. Sri Sathya Sai Mobile Hospital is a novel outreach programme that was started in April 2006.The hospital has the noble mission of taking healthcare to the rural doorstep. Every month, for twelve days, the mobile clinic with its team of doctors visits a village every day, offering diagnostic services and even performing minor surgeries and dental procedures. Where, urgent medical attention is necessary, the patients are referred to local Sri Sathya Sai hospitals for further treatment.In many parts of rural India, healthcare is still woefully inadequate as is awareness of the basic principles of health and hygiene. Village folk fall prey to many diseases as a result. Many neglect their health problems since they subsist on daily wages and a day's earnings would have to be foregone in trekking to and from a far off hospital. Sri Sathya Sai Mobile Hospital is thus a blessing on wheels for those in the villages around Prasanthi Nilayam.

      <div id="login_form" align="right" style="margin-top: 20px;width: 100%;">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div id="login_fields" align="center" style="width: 60%;border: 0px solid green;padding:0px;">

              <div id="username_block" align="center" class="login_block">

                <div class="login_fields" id="username_text" style="width: 40%;float:left;border: 0px solid red;">
                  Email:
                </div>

                <div id="username_value" style="width: 50%;float:left;border: 0px solid darkviolet" class="login_input">
                  <input type="email" size="45" name="user[email]"/>
                </div>

              </div>

              <br>
              <div id="user_password_block" align="center" class="login_block">

                <div class="login_fields" id="userpassword_text" style="width: 40%;float:left;border: 0px solid red;">
                  Password:
                </div>

                <div id="username_value" style="width: 50%;float:left;border: 0px solid darkviolet" class="login_input">
                  <input type="password" size="45" name="user[password]" id="user_password" autocomplete="off"/>
                </div>

              </div>

              <% if devise_mapping.rememberable? -%>

                  <div style="height:30px;width: 100%;border: 0px solid darkviolet;margin-top: 10px;" align="right">

                    <div id="username_value" style="float:right;border: 0px solid darkviolet">
                      <input type="checkbox" checked name="user[remember_me]" id="user_remember_me" class="login_input_checkbox"/>
                    </div>

                    <div class="login_fields_small" id="user_remember_me_text" style="width: 40%;float:right;border: 0px solid red;margin: 4px;">
                      Remember Me:
                    </div>

                    <input name="user[remember_me]" type="hidden" value="0">

                  </div>

              <% end -%>

              <div style="height:30px;width: 100%;border: 0px solid darkviolet;margin: 10px;" align="center">
                <input type="submit" class="login_fields" name="commit" value="Log in" data-disable-with="Log in">
              </div>

            </div>

        <% end %>
      </div>

    </div>

  </div>
</div>


<%= render "devise/shared/links" %>
