// Place all the styles related to the patient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jsgrid-grid-header{
  overflow-x: scroll;
  width: 95%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#main_patients_div{
  font-family: "Open Sans",sans-serif;
  //border:1px solid red;
}

#list_search_patients_div{
  margin-left:15px;
  width: 21%;
  float: left;
  border: 2px solid red;
  min-height: 71vh;
  border-radius:15px;
}

#patients_details_div{
  margin-left:15px;
  margin-right:15px;
  width: 73%;
  float: left;
  border: 2px solid red;
  min-height: 71vh;
  border-radius:15px;
  font-family: "Open Sans",sans-serif;
}

#patient_search_box{
  margin-top: 5px;
  width: 100%;
  padding: .5em .5em;
  size:15;
}

#patient_search_icon{
  margin-top: 5px;
  //position: absolute;
  //z-index: 10;
  padding:5px 10px 5px 25px;
  cursor: pointer;
}

#patient_search_close_icon{
  //position: absolute;
  //z-index: 10;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#patient_search_inside_div{
  margin-top: 10px;
  margin-left:15px;
}

#patient_search_crud_div i{
  font-size: 18px;
  padding: 5px;
  vertical-align: middle;
}

#patient_search_div{
  float: left;
  margin: 2px 0 0 15px;
  //padding: 5px;
  //vertical-align: middle;
}

#patient_crud_div{
  float: right;
  vertical-align: middle;
  margin-top: 7px;
}

div#patient_crud_div i {
  padding: 4px;
  margin-top: 2px;
  cursor: pointer;
}

// This Block is for the Line Division

#patients_hr_div{

}

  hr.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
  }
  hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
  }
  hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
  }

  hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
  }

  hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  }
// END OF This Block is for the Line Division

// Patient Detail Main CSS
#patient_detail_main{
  width:98%;
  margin:8px;
  align:left;
}

#patient_detail_main div{
  height: 56vh;
  background-color: whitesmoke;
}

//background-color: #dadfed;


.patients_details_general div{
  float:left;
  //margin:5px;
  vertical-align: middle;
  //border:1px solid green;
  //padding-top:8px;
}

.patient_details_label{
  width:36%;
  //border:1px solid green;
  text-align: right;
  padding-right:5px;
  padding-top: 8px;
  vertical-align: middle;
  font-weight: bold;
}

.patient_details_colon{
  width:10%;
  padding-top: 8px;
  //border:1px solid green;
}

.patient_details_input{
  width:43%;
  //border:1px solid green;
  //padding-top:0px;
  //padding-top: 8px;
}

.patient_details_input input{
  font-family: "Open Sans",sans-serif;
  font-size: 10px;
  padding: .3em .3em;
}

.patient_details_input select{
  font-family: "Open Sans",sans-serif;
  font-size: 10px;
  padding: .3em .3em;
  align:left;
}

.patient_visited_on_div{
  float:left;
  height:auto;
  width:20%;
}

select:focus {
  //border-color: blue;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input:focus {
  //border-color: blue;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ninety_percent_width{
  width: 95%;
}

#patient_gen_details_main_div{
  overflow-y: auto ;
}

//  Patient Details Internal
    .inActive{
      display:none;
    }

    //#patient_gen_details_div{
    //  width:95%;
    //}
    //
    //#patient_history{
    //  width:95%;
    //}

    // Patient General Details
      #patient_gen_details_left_div{
        width:47%;
        float:left;
        //margin:5px;
        margin-right:3px;
        //min-height:30vh;
        align:left;
        padding-top: 5px;
        padding-left:5px;
        //border: 1px solid green;
      }

      #patient_gen_details_right_div{
        width:47%;
        float:left;
        //margin:5px;
        margin-left:3px;
        //min-height:30vh;
        height:35vh;
        align:right;
        padding-top: 5px;
        //border: 1px solid green;
      }
    // END OF Patient General Details

  //  END OF Patient Details Internal


//END OF Patient Detail Main CSS


.ui-widget input{
  font-family: "Open Sans",sans-serif;
}

#submitButtonsBlock{
  width: 67%;
  margin-bottom: 10px;
  position: absolute;
  bottom: 15px;
}

.patientSearchDetailClass{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  padding: .3em .3em;
  cursor: pointer;
}

#patients_list_block_parent_div{
  margin-left:12px;
  color: #6d6c6c;
}

#patient_detail_info_and_options{
  height:20px;
  padding: 5px 0px 0px 5px;
}

#patient_detail_info_and_options div{
  //float:left;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  padding: .3em .3em;
  color: #6d6c6c;
}

#patient_detail_info_and_options i{
  font-size: 20px;
  cursor: pointer;
  margin-right:10px;
}

#patient_detail_options i{
  //font-size: 20px;
  //cursor: pointer;
  //margin-right:10px;
}

#patient_detail_info{
  //border:1px solid green;
  font-weight: bold;
}

#patient_dialogue_box{
  height: 30px;
  position: absolute;
  top:50%;
  //left:10%;
  z-index: 10;
  display: none;
}

#input_pgd_alive{
  margin-top:10px;
  margin-left: 17px;
}

#ailment_combo_select_id{
  margin-right:5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

tabs-icons .ui-tabs-nav .ui-icon {
  display: inline-block;
}


// FeildSet Type Div
  .fieldset {
    border: 2px groove threedface;
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
  }

  .fieldset>h1 {
    font: 1em normal;
    margin: -1em -0.5em 0;
  }

  .fieldset>h1>span {
    float: left;
  }

  .fieldset>h1:before {
    border-top: 2px groove threedface;
    content: ' ';
    float: left;
    margin: 0.5em 2px 0 -1px;
    width: 0.75em;
  }

  .fieldset>h1:after {
    border-top: 2px groove threedface;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
  }
// FeildSet Type Div












