// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reports_main div {
  //height: 56vh;
  background-color: whitesmoke;
}

#patient_search_box{
  margin-top: 5px;
  width: 100%;
  padding: .5em .5em;
  size:15;
}

#village_patient_search_box{
  margin-top: 5px;
  width: 20%;
  padding: .5em .5em;
}

#patient_search_icon{
  margin-top: 8px;
  position: absolute;
  z-index: 10;
  margin-left: 15px;
  padding:5px 10px 5px 25px;
  font-size:18px;
}

#patient_search_inside_div{
  margin-top: 10px;
  margin-left:15px;
}

#patient_search_crud_div i{
  font-size: 18px;
  padding: 5px;
  vertical-align: middle;
}

#patient_search_div{
  float: left;
  margin: 2px 0 0 15px;
  //padding: 5px;
  //vertical-align: middle;
}

.toggle_group_img_div img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid;
    padding: 2px;
}