<script>
    var api;

    $(document).ready(function() {
        api = $(".smartmenu").smartMenu({
            responsive:"switch-margin"
        });

        // Functionality to Highlight Respective Menu
        var current_page_url = location.href;
        var current_page_url_array = current_page_url.split("/")
        var current_page_function = current_page_url_array[current_page_url_array.length - 1];

        console.log("----"+current_page_function+"----");

        var header_menu_highlight = "header_menu";
        $('#header_menu').attr('class','sm-content-full');
        $('#header_menu_'+current_page_function).attr('class','sm-content-full sm-active');
    });

</script>

<script type="text/javascript" src="/assets/javascripts/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/assets/javascripts/switcher.js"></script>
<script type="text/javascript" src="/assets/javascripts/jquery.rollbar.js"></script>
<script type="text/javascript" src="/assets/javascripts/imagepreview.js"></script>
<script type="text/javascript" src="/assets/javascripts/smartmenu.js"></script>
<script src="/assets/jquery-ui.min.js"></script>
<script src="/assets/jquery-migrate.js"></script>


<link rel="stylesheet" href="/assets/stylesheets/style.css">
<link rel="stylesheet" href="/assets/stylesheets/aqua.css">
<link rel="stylesheet" href="/assets/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/assets/stylesheets/jquery.rollbar.css">
<link rel="stylesheet" href="/assets/stylesheets/smartmenu.css">
<link href="/assets/jquery-ui.min.css" rel="stylesheet" />

<div id="cdms_header_dev" >
  <div align="center">
     <img src="/assets/sssmh_header.png">
  </div>
  <div id="links_welcome" align="center">
    <div id="links" style="padding-left: 25px;padding-bottom: 6px;padding-top: 2px;">
    <% if user_signed_in?%>
        <ul class="smartmenu">
            <!-- Responsive toggle -->
            <li class="sm-responsive-toggle">
              <span>Menu</span>
            </li>

            <!-- Simple item -->
            <li id="header_menu" class="sm-content-full sm-active" style="">
              <a href="/"><i class="fa fa-home"></i>Home</a>
            </li>
            <li id="header_menu_villages" class="sm-content-full">
              <a href="/villages"><i class="fa fa-map"></i>Villages</a>
            </li>
            <li id="header_menu_patients" class="sm-content-full">
              <a href="/patients"><i class="fa fa-address-book"></i>Patients</a>
            </li>
            <li id="header_menu_reports" class="sm-content-full">
              <a href="/reports"><i class="fa fa-list-alt"></i>Reports</a>
            </li>
            <li id="header_menu_sign_out" class="sm-right-item" style="">
              <a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out"></i>Sign Out</a>
            </li>
            <li id="header_menu_account_profile" class="sm-right-item" style="">
              <a href="/account_profile"><i class="fa fa-hdd-o"></i>Account Profile</a>
            </li>


        <div id="welcome_message">
            Welcome <%=current_user.email%>
        </div>
      </ul>
    <%end%>
  </div>
</div>