<script type="text/javascript">
	function ailments_checkAndSubmit(){
		 var ailments_filtered = "";
		$('input[name="ailments_check_boxs"]:checked').each(function(index,e){ 
			var selected_id = e.id;
			var selected_ailment_array = selected_id.split("_");
			ailments_filtered = 
				ailments_filtered + "_" +
				selected_ailment_array[selected_ailment_array.length-1];

			var new_ailments_filtered = ailments_filtered.slice(1);

		    $.ajax({
		        url:'/filter_patients_ailments_level/'+new_ailments_filtered,
		        method:"GET",
		        success:function (dmDetailsForPatient) {
		            console.log(dmDetailsForPatient);
		        }
		    })

		}
	  )	
	}
</script>

<div id="ailments_list_and_submit_main_div" style="width: 100%;height: 85%;">
	<div id="ailments_list_main_div" style="width: 100%;height: 95%;border: 0px solid black;overflow: auto;">
		<%= render "ailments_list"%>
	</div>

	<div id="submit_main_div" style="border: 0px solid black;width:100%;height: 5%;">
		<div id=submit_div style="float: right;">
			<input type="button" value="Filter" class="sssmhms_button" onclick="ailments_checkAndSubmit();">
	    </div>
	</div>
</div>

