<% content_for :head do %>
    <link href="assets/jqGrid.css" rel="stylesheet" />

    <style type="text/css">
    </style>
<% end %>

<% content_for :scripts do %>
    <script src="assets/jqGrid.js"></script>
    <script src="assets/jszip.min.js"></script>

	<script type="text/javascript">

		$(document).ready(function () {
            $("#jqGrid").jqGrid({
                mtype: "GET",
                datatype: "local",
                colModel: [
                    { label: 'Patient Name', name: 'patient_name', width: 180, sortable: false },
 					{ label: 'Nodal Village', name: 'nodal_village', width: 100, sortable: false},
                    { label: 'DM Number', name: 'dm_number',width: 50, sortable: false },
                    { label: 'Age', name: 'age',width: 20, sortable: false },
                    { label: 'Gender', name: 'gender',width: 40, sortable: false },
                    { label: 'Phone No.', name: 'contact',width: 40, sortable: false },
                    { label: 'Village', name: 'village_name',width: 60, sortable: false },
                    { label: 'Diagnosis', name: 'ccd', width: 180, sortable: false },
                    { label: 'Remarks', name: 'ccd_details', width: 180, sortable: false }
                ],
				// loadonce:false, // just for demo purpose
                // width: 785,
                height: 430,
                scroll : true,
                loadonce: true,
                forceFit: false,
                shrinkToFit: false,
                rowNum: 9999,
				loadComplete: function() {
	                if ($('#jqGrid').getGridParam('records') === 0) {
	                    $('#jqGrid tbody').html("<div style='padding:6px;background:#D8D8D8' align='center'>No records found</div>");

	                    $('#jqGrid').jqGrid('hideCol',"nodal_village");
	                }
	             },
             	viewrecords: true,
                grouping: true,
                groupingView: {
                    groupField: ["nodal_village"],
                    groupColumnShow: [false],
                    groupText: ["<b>{0} - {1}</b>"],
                    groupOrder: ["asc"],
                    groupSummary: [true],
                    groupCollapse: true
                }
            });

			$("#export_div").on("click", function(){
                if ($('#jqGrid').getGridParam('records') === 0) {
                	alert("No Records to be exported");
                	return false;
                }

				$("#jqGrid").jqGrid("exportToExcel",{
					includeLabels : true,
					fileName : "ailments_export.xlsx",
					mimetype : "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
					replaceStr: function(v){
						v = v.replace(/<\/br>/g,", ");
						return v;
					}
				})

			})
		
        })

		function build_ailment_level_patient_grid(
			ailments_filtered) {

			$("#jqGrid").jqGrid("clearGridData");
			$("#jqGrid").trigger('reloadGrid');
			$("#jqGrid")[0].grid.beginReq();

		    $.ajax({
		        url:'/filter_patients_ailments_level.json',
		        data: {
		        	'filtered_ailments': ailments_filtered,
		        	'exact_match':$('#exact_match').value,
		        	'include_expired':$('#include_expired').value
		    	},
		        method:"GET",
		        success:function (filtered_patient_details) {
					// set the new data
					$("#jqGrid").jqGrid('setGridParam', { data: filtered_patient_details});
					// hide the show message
					$("#jqGrid")[0].grid.endReq();
					// refresh the grid
					$("#jqGrid").trigger('reloadGrid');
		            $('#jqGrid').jqGrid('hideCol',"nodal_village");
				}
		    })

			$("#jqGrid").jqGrid("navGrid","#jqGridPager",{add:false, edit:false, del:false});
		}

		function ailments_checkAndSubmit(){
			var ailments_filtered = new Object();

			$('input[name="ailments_check_boxs"]:checked').each(
				function(index,e){ 
					var selected_id = e.id;
					var selected_ailment_array = selected_id.split("_");
					var selected_ailment_id = selected_ailment_array[selected_ailment_array.length-1];

					ailments_filtered[selected_ailment_id] = 0;
				}
			)

            build_ailment_level_patient_grid(ailments_filtered);
		}

	</script>
<% end %>

<div id="ailments_list_and_submit_main_div" style="width: 100%;">
	<div id="main_results_block" style="width: 98%;border: 0px solid black;overflow: auto;padding-top: 10px;">
		<div id="sub_ailments_and_parameter_block" style="width:25%;float: left;border: 1px solid slategray;border-radius: 5px;min-height: 460px;">
			&nbsp;
			<div id="inv_detail_filter_title" style="font-size: 12px;font-weight: bold;">
				Ailment Filters
			</div>
<!-- 			<div id="submit_main_div" style="float: right;padding-right: 10px;padding-top: 5px;">
				<input type="checkbox" id="exact_match" checked="true" value="exact_match"> Exact Match
				<input type="checkbox" id="include_expired" checked="true" value="include_expired"> Include Expired Patients
			</div>
 -->
			<%= render "ailments_and_parameters"%>

			<!-- Filter Button -->
			<div id="submit_main_div" style="border: 0px solid black;padding-right: 10px;padding-bottom: 5px;">
				<div id=submit_div style="float: right;padding-bottom: 15px;">
					<input type="button" value="Filter" class="sssmhms_button" onclick="ailments_checkAndSubmit();">
			    </div>
			</div>
		</div>

		<div id="filtered_patients_block" style="width:73%;float: left;border: 0px solid slategray;border-radius: 5px;height: 100%;min-height: 430px;">
			<div id=grid_table_and_pager style="overflow: auto;padding-left: 10px;">
				<table id="jqGrid"></table>
				<div id="jqGridPager"></div>
			</div>

			<div id=export_button>
				<div id="export_to_exl_div" style="float: right;padding-right: 8px;padding-top: 20px;">
					<input type="button" value="Export to Excel" class="sssmhms_button" id="export_div">
				</div>
			</div>
		</div>
	</div>

</div>

