<% content_for :head do %>
    <!-- <link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet" /> -->
    <!--<link href="assets/jsgrid-theme.min.css" rel="stylesheet" />-->
    <!--<link href="assets/jsgrid.min.css" rel="stylesheet" />-->

    <style type="text/css">
      /*.jsgrid-grid-header{*/
      /*overflow-x: scroll;*/
      /*overflow-y: scroll;*/
      /*!*min-height: 30vh;*!*/
      /*}*/
    </style>

<% end %>

<% content_for :scripts do %>
    <!--<script src="assets/jsgrid.min.js"></script>-->
    <!--<script src="assets/jsgrid-date.js"></script>-->
    <script>
        $(document).ready(function(){
            loadVillagesForReportsPage();
            loadNodalVillagesForReportsPage();
//            load_and_display_patients_function("all_villages");
//            loadFirstNodalVillage();
            loadAilmentsForReports();
        })

        var loadFirstNodalVillage = function (comboResultArray) {
          console.log(comboResultArray);
        }

        function loadVillagesForReportsPage() {
            simpleComboLoad("/get_all_sub_villages.json",
                $('#report_select_id'),false);
        }

        function loadNodalVillagesForReportsPage() {
//            "/get_all_nodal_villages.json",$('#report_nodal_village_select_id'),false,
//            get_nodal_villages_and_expired_patients

            simpleComboLoad(
                "/get_nodal_villages_and_expired_patients.json",
                $('#report_nodal_village_select_id'),
                false,
                [   function () {
                      load_and_display_patients_function(
                          $('#report_nodal_village_select_id').val()
                          ,true
                      );
                    }
                ]
            );
        }
        

    </script>

<% end %>

<div id="village_reports_main_div" style="background-color:#dadfee;">
  <!-- Populate All Villages Here -->
  <div style="margin-left:30px;" align="left">

    <div id="villages_buttons_div">

      <div id="nodal_villages_div" style="float:left;margin-right: 20px;">
        Nodal Villages :
        <select id="report_nodal_village_select_id" onchange="changeNodalVillage(this.value);"></select>
      </div>

      <div id="villages_div" style="float:left">
          Sub Villages :
          <select id="report_select_id" onchange="changeVillage(this.value);">
            <option value="-1" selected>Select a Village</option>
          </select>
      </div>


      <div id="buttons_div" style="float:right">

        <div style='float: right;margin-right:10px;padding:0px;'>
          <select id="ailment_combo_for_reports" style="">
            <!--<option value="0">Select An Ailment</option>-->
          </select>
        </div>

        <div id='review_print' title="Print Review Sheets for Selected Patients" style='float:left;margin-right:10px;padding:0px;' class='custom_icons_print' id='custom_icons_R'>
            <img src='/assets/review_print.png' class='print_icons_class' border='0' onclick='printReportsDetailsPage("review");'>
          </div>

          <div id='index_print' title="Print Index Sheets for Selected Patients" style='float: right;margin-right:10px;padding:0px;' class='custom_icons_print' id='custom_icons_I'>
            <img src='/assets/index_print.png' class='print_icons_class' border='0' onclick='printReportsDetailsPage("index");'>
          </div>

        <!--<i class="fa fa-list-alt" style="font-size: 20px;margin-right: 20px;cursor: pointer;" title="Print Review Report" onclick="printSelectedPatients()"></i>-->
      </div>

    </div>

    <br><br>

    <div id="patients_div"
       style='border: 1px solid;
        border-color: slategray;
        border-radius: 15px;
        min-height: 60vh;
        font-family: "Open Sans",sans-serif;' align="center">

      <div id="patient_search_div" style="overflow: scroll;">
        <i class="fa fa-search" id="patient_search_icon" title="Search Patients"></i>
        <input id="patient_search_box" type="text" name="patient_search" size="25" onfocus="$('#patient_search_icon').hide();" onblur="$('#patient_search_icon').show();" placeholder="       Search Patient..."/>

        <div id="select_all_block">
            <div style="margin-top: 10px;margin-left: 5px;float: left">
              <b>Select All / None :</b>
              <input type="checkbox" id="select_all_none" onclick="selectAllNonePatients(this.checked);" checked>
            </div>

            <div id="patients_count" style="margin-top: 10px;float: right"></div>
        </div>
        <br>
        <br>


        <div id="patients_block_div" style="overflow: scroll;height: 48vh;">
        </div>

      </div>

    </div>

  </div>

</div>